* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vh;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

#canvas1 {
    width: 100%;
    height: 100%;
    border: 5px solid black;
    position: block;
}

.background {
    /* width: 512px;
    height: 512px;  */
    display: none;
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    text-align: center;
    padding: 15px;
    font-size: 40px;
}

#score {
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
}

.format {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 15px;
}

.body {
    position: relative; /* Ensures absolute positioning works for child elements */
}

.win {
    color: green;

    position: absolute;
    font-size: 10vw;
    text-align: center;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.lose {
    color: red;

    position: absolute;
    font-size: 10vw;
    text-align: center;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


.retry {
    z-index: 999;
}